.git
.gitignore
.gitattributes

venv/
.venv/
env/

__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/
.pytest_cache/

*.log
*.sqlite
sqlite.db
blog.db

.idea/
.vscode/
.cursor/
.cursorignore
.cursorindexingignore

README.md
Dockerfile
docker-compose.yml
.dockerignore
