__pycache__/
*.py[cod]
*$py.class
*.so

.Python
build/
dist/
*.egg-info/
*.egg

venv/
.venv/
env/

.env

*.log

.idea/
.vscode/
.cursorignore
.cursorindexingignore

.mypy_cache/
.ruff_cache/
.pytest_cache/

sqlite.db
